@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

* {
  margin: 0;
  padding: 0;
}

body {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
}

h1 {
  font-size: 48px;
}

h2, h3 {
  font-size: 36px;
}

h1, h2, h3, h4 {
  color: white;
  padding-top: 0.107em;
  padding-bottom: 0.107em;
  font-weight: lighter;
}

p {
  padding: 10.5px 0;
  margin-bottom: 12px;
}

a {
  text-decoration: none;
}

.container {
  height: 334px;
  margin: 0 auto;
  width: 1160px;
  padding: 120px 10px;
}

.col {
  float: left;
  margin-left: 4%;
}

/*************************NAV**************************************************/

nav {
  background-color: #C12127;
  padding: 0.625em 0;
  font-size: 0.9em;
  line-height: 25px;
}

nav a {
  color: rgba(255,255,255,0.8);
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

.top-left {
  display: inline-block;
}

.heart {
  padding: 0 20px;
}

/****************** BUTTONS & LINKS ********************************************/

.btn {
  text-decoration: none;
  font-weight: 400;
  border-radius: 20px;
  padding: 7px 26px 8px 26px;
  font-size: 18px;
}

.link {
  color: white;
  font-weight: bold;
  padding-top: 7px;
}

.link:hover {
  text-decoration: underline;
}

.btn, .link {
  color: rgba(255, 255, 255, 0.8);
}

/****************** HEADER ****************************************************/

#header {
  background-image: url(images/city-scape.svg);
  height: 450px;
}

#header p {
  font-size: 18px;
}

/* search bar <------ *********************************************************/

.npm-sign-up {
  margin-left: 180px;
  padding: 40px;
  width: 560px;
}

.npm-sign-up .btn {
  background-color: rgb(240, 146, 51);
}


/*SECTION 2 - org-sign-up ******************************************************/

#org-sign-up {
  background-color: rgb(39, 53, 71);
}

#org-sign-up .col {
  padding: 0 10px;
  width: 42%;
}

#org-sign-up .btn {
  background-color: rgb(203, 56, 55);
}

#org-sign-up ul {
  padding: 10.5px 0;
  position: relative;
  left: 18px;
}

#org-sign-up li {
  color: white;
  padding: 0  0  23px 10px;
}



/*NPM-INTALL*******************************************************************/

#npm-install {
  background-image: url(images/forklift.svg);
  height: 508px;
}

#npm-install .col {
  width: 25%;
  padding: 120px 0 0 142px;
}

#npm-install .btn {
  background-color: rgb(49, 68, 88);
}

#npm-install .btn:hover {
  background-color: rgb(39, 53, 71);
}

/*NPM-FEATURE******************************************************************/

#npm-features {
  text-align: center;
}

#npm-features.container {
  padding-top: 70px;
}

#npm-features h4 {
  font-weight: bold;
  font-size: 20px;
}

#npm-features h2, #npm-features h4 {
  color: rgb(83, 88, 98);
}

#npm-features p {
  color: rgb(135, 145, 156);
}

#npm-features .col {
  width: 20%;
  padding: 20px;
  margin-left: 8%;
}

#npm-features img {
  display: block;
  margin: 0 auto;
}

#npm-features a {
  color: rgb(203, 56, 55);
}
