@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

* {
  margin: 0;
  padding: 0;
}

body {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
}

h1 {
  font-size: 48px;
}

h2, h3 {
  font-size: 36px;
}

h1, h2, h3, h4 {
  color: white;
  padding-top: 0.107em;
  padding-bottom: 0.107em;
  font-weight: lighter;
}

#header p {
  font-size: 18px;
}

#npm-features {
  text-align: center;
}

#npm-features p {
  color: rgb(135, 145, 156);
}

#npm-features h2, #npm-features h4 {
  color: rgb(83, 88, 98);
}

#npm-features h2 {
  padding: 1.2em;
}

#npm-features h4 {
  font-weight: bold;
  font-size: 20px;
}

p {
  padding: 10.5px 0;
  margin-bottom: 12px;
}

.btn, .link {
  color: rgba(255, 255, 255, 0.8);
}

nav {
  background-color: #C12127;
  padding: 0.625em 0;
  font-size: 0.9em;
  line-height: 25px;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

.top-left {
  display: inline-block;
}

.heart {
  padding: 0 20px;
}

#header {
  background-image: url(images/city-scape.svg);
  height: 450px;
}

#npm-install {
  background-image: url(images/forklift.svg);
  height: 508px;
}

#header, #npm-install {
  background-position: 0.0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(32, 101, 136);
}

.npm-sign-up {
  width: 1160px;
  height: 243px;
  padding: 40px;
  margin: 0 auto;
}

.npm-sign-up p {
  width: 560px;
  height: 68px;
  padding-bottom: 20px;
  margin: 10px 0;
}

.npm-sign-up .btn {
  background-color: rgb(240, 146, 51);
}

.btn {
  text-decoration: none;
  font-weight: 400;
  border-radius: 20px;
  padding: 7px 26px 8px 26px;
  font-size: 18px;
}

#org-sign-up {
  background-color: rgb(39, 53, 71);
}

#org-sign-up .btn {
  background-color: rgb(203, 56, 55);
}

#org-sign-up .container {
  padding: 120px 10px;
}

.container {
  height: 334px;
  margin: 0 auto;
  width: 1160px;
}

.row {
  float: left;
  padding: 0 10px;
  margin-left: 4%;
  width: 42%;
  height: 334px;
}

article ul {
  padding: 10.5px 0;
  position: relative;
  left: 18px;
}

article li {
  color: white;
  padding: 0  0  23px 10px;
}

.link {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding-top: 7px;
}

.link:hover {
  text-decoration: underline;
}

#npm-install .row {
  width: 25%;
  padding: 120px 0 0 142px;
  height: 334px;
}

#npm-install .btn {
  background-color: rgb(49, 68, 88);
}

#npm-install .btn:hover {
  background-color: rgb(39, 53, 71);
}

#npm-features a {
  color: rgb(203, 56, 55);
  text-decoration: none;
}

#npm-features img {
  display: block;
  margin: 0 auto;
}

#npm-features .row {
  width: 25%;
  padding: 20px;
}
